*{
    font-family: 'Balsamiq Sans', cursive;
}

/* image page */
.img-body-1{
    background-image: url("icon/alquran.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-body-2{
    background-image: url("icon/materi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-body-3{
    background-image: url("icon/motivasi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-body-4{
    background-image: url("icon/tentang.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-body-5{
    background-image: url("icon/hukumbacaan.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-body-6{
    background-image: url("icon/hurufhijaiyah.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-body-7{
    background-image: url("icon/laghamquran.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* text */
.display-1{
    font-size: 32pt;
}

.fs-14-auto{
    font-size: 24pt;
}

.fs-12-auto{
    font-size: 21pt;
}
/* link */

.navbar {
    padding-top: 8px;
    padding-bottom: 0;

    border-bottom: 8px solid #ffa700;
}
.navbar .navbar-nav .nav-link {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    color: #ffffff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
    background: #ffa700;
} 

/* background-color */

.bg-1{
    background-color: #ffa502;
}

/* footer */
.footer-dark{
    background-color: rgba(0, 0, 0, 0.75);

    font-size: 14px;
}

/* inline block auto */
.ib-auto{
    display: contents;
}

@media (max-width: 560px){
    .display-1{
        font-size: 28pt;
    }

    .img-size-300{
       margin: 20px;
    }

    .mt-auto-20{
        margin-top: 20px;
    }

    .fixed-bottom{
        position: static;
        margin-top: 30px;
        opacity: 0.5;
    }

    .d-inline-auto{
        display: inline-block;
        width: 18rem;
    }

    /* inline block auto */
    .ib-auto{
        display: inline;
        flex-direction: row;
    }
    
}


/* button play audio */

/* end button play button audio */