.display-1{
    font-size: 100pt;
}

.nav-link{
    color: rgba(0,0,0,.55) ;
}

.nav-link:hover{
    color: #0000;
}

.bg-1{
    background-color: #ffa502;
}

@media (max-width: 560px){
    .display-1{
        font-size: 28pt;
    }

    .img-size-300{
       margin: 20px;
    }

    .mt-auto-20{
        margin-top: 20px;
    }

    .fixed-bottom{
        position: static;
        margin-top: 30px;
    }

    .d-inline-auto{
        display: inline-block;
        width: 18rem;
    }
}


/* button play audio */

/* end button play button audio */